{% extends "base.html" %}

{% block title %}<title>TODO</title>{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between">
    <h1>TODO list</h1>
    <div>
      <a class="btn btn-primary" href="{% url 'tasks:task-create' %}">Add task</a>
    </div>
  </div>
  {% if tasks %}
    {% for task in tasks %}

      <div class="card mb-3">
       
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="card-title">
              <h5 class="d-inline">{{ task.title }}</h5>
              {% if task.is_done %}
                <h5 class="text-success d-inline">Done</h5>
              {% else %}
                <h5 class="text-danger d-inline">Not done</h5>
              {% endif %}
            </div>
            <a class="btn btn-success" href="#">Complete</a>
          </div>
          {% if task.tags.all %}
            <h6 class="card-subtitle mb-2 text-body-secondary">
              Tags:
              {% for tag in task.tags.all %}
                {{ tag.name }}
              {% endfor %}

            </h6>
          {% endif %}



          <a href="{% url 'tasks:task-update' pk=task.pk %}">Update</a>
          <a href="{% url 'tasks:task-delete' pk=task.pk %}">Delete</a>
        </div>

        <div class="card-footer">
          <p class="card-text">
            <small class="text-body-secondary">Created: {{ task.created }}</small>
            {% if task.deadline %}
              <small class="text-danger ">Deadline: {{ task.created }}</small>
            {% endif %}
          </p>
        </div>

      </div>

    {% endfor %}
  {% else %}
    <p>No tasks yet.</p>
  {% endif %}


{% endblock %}